*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: normal;
  line-height: 1.1875;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-display: swap;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: underline;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: none;
  }
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-title);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-legend);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-big);
  font-weight: bold;
}

h1, h2, h3, h4, p {
  margin: var(--gap) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  &-secondary {
    color: var(--color-text-secondary);
  }

  &-hint {
    color: var(--color-text-hint);
  }

  &-small {
    font-size: var(--font-sie-small);
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-center {
    text-align: center;
  }
}

.space {
  flex: 1;
}

pre {
  padding: calc(var(--gap) / 2);
  border-radius: 5px;
  background: var(--color-bg);
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}
