$colorDark: #000;
$colorLight: #fff;
$colorGray: #7f919e;
$colorPrimary: #3b6cbc;
$colorAccent: #88b5fc;
$colorWarning: #fec44b;
$colorDanger: #fd8b9d;
$colorSuccess: #00c8b8;
$colorInfo: #2fa2e9;
$colorText: #233142;
$colorTextSecondary: #45525e;
$colorTextHint: #7f909e;
$colorBorder: #dadada;
$colorShadow: #6aa1fb;
$colorBg: #fafbfc;
$colorBgAccent: #e7effd;
